<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/3135/3135768.png"
      type="image/x-icon"
    />
    <title>Tareas Familiar</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>Inicia sesión</h1>

    <a href="/auth/google">
      <button>Ingresar con Google</button>
    </a>
  </body>
</html>
